<app-home></app-home>
<br>
<br>

<div class="col-md-3">
  <div class="form-group">
    <label i18n id="lblClients">Clients:</label>
    <select id="sltClients" class="form-control">
      <option *ngFor="let client of clients"
      [value]="client.idcliente">{{client.nombre}} {{client.apaterno}} {{client.amaterno}}</option>
    </select>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-8">

      </div>
      <div class="col-4">
          <app-cart-calculator [products]="cartProducts"></app-cart-calculator>
      </div>
  </div>
</div>

